/* Убираем отступы у всей страницы и скрываем прокрутку */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Фон на весь экран */
.login-page {
  background-image: url('../assets/Desktop.png');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center;     /* Центрирование по вертикали */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Контейнер для выравнивания заголовка "Авторизация" и карточки в столбик */
.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 3rem;
  color: #496642;
  margin-bottom: 25px; /* Отступ до зеленой карточки */
  font-style: italic;
  margin-top: 0;
}

.auth-card {
  background-color: rgba(96, 111, 78, 0.65);
  width: 500px;
  padding: 50px 60px 80px 60px;
  border-radius: 38px;
  display: flex;
  flex-direction: column;
  gap: 25px; /* Расстояние между инпутами */
  position: relative; /* Важно для позиционирования регистрации */
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.custom-input {
  width: 100%;
  height: 50px;
  background-color: #C8D6C8;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 1.1rem;
}

/* Цвет текста-подсказки на input`ах */
.custom-input::placeholder {
  color: #98B398;
}

.login-btn {
  width: 250px;
  height: 50px;
  background-color: #496642;
  color: #eaf1eb;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer; /* При наведении - курсор-палец */
  align-self: center; /* Центрируем кнопку внутри флекс-контейнера */
  margin-top: 10px;
  transition: background 0.3s; /* Время изменения цвета при наведении */
}

.login-btn:hover {
  background-color: #364233;
}

.card-footer {
  position: absolute;
  bottom: 25px;
  left: 30px;
}

.reg-link {
  text-decoration: none;
  border: 2px solid #496642;
  color: #eaf1eb;
  padding: 6px 20px;
  border-radius: 20px;
  font-size: 0.9rem;
  transition: 0.3s;
  opacity: 0.8;
  display: inline-block;
}

.reg-link:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}
